.todo{
    padding: 15px 5px;
    border-bottom: 1px dashed #ccc;
    &__display{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__info{
        display: flex;
        align-items: center;
    }
    &__title{
        margin-left: 15px;
    }
    &__controls{
        opacity: 0;
    }
    &:hover{
        .todo__controls{
            opacity: 1;
        }
    }
}